.cart {
    &__checkout {
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: center;
        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
          }
    }
    
    &__checklist {
        flex: 1;
        h3 {
            text-align: left;
        }
    }

    &__form {
        flex: 2;
    }
}