.cart {
    &__checkout {
       
        gap: 1rem;
        @media (min-width: 768px) {
            justify-content: space-between;
        }
    }
    &__checklist {
        border: 1px solid $primary-color;
        border-radius: 2rem;
        padding: 1rem;
        min-width: 25rem;
        margin-bottom: 1rem;
        flex: 1;
        &-data {
            width: 90%;
        }
        h3 {
            text-align: left;
        }
        ul {
            li {
                word-wrap: break-word;
            }
        }
    }
    &--form {
        margin-top: 2rem;
    }
}