.title,
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  justify-content: center;
  flex: 2;
  a {
    display: block;
    width: 10rem;
    text-align: center;
    margin: 1rem;
    padding: 0.5rem;
    border: 1px solid $primary-color;
    font-weight: 700;
    color: $primary-color;
    border-radius: 3rem;
    cursor: pointer;
    &:hover {
      background-color: $primary-color;
      color: $white;
    }
  }
  .active {
    background-color: $primary-color;
    color: $white;
    border: none;
  }
}

.nav-container {
  display: none;
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.cartWidget-container {
  color: $primary-color;
  &:hover {
     color: $secondary-color;
  }
}
.cartWidget {
  display: flex;
  align-items: center;
  cursor: pointer;
  column-gap: 0.5rem;
  span {
    font-size: 2.4rem;
    font-weight: 600;
  }
  .bs-icon {
    font-size: 3rem;
  }
}

.hr-styleLine {
  display: none;
  @media (min-width: 768px) {
    display: block;
    margin: 0;
  }
}

.nav-buttons {
    display: none;
    @media (min-width: 768px) {
        display: flex;
        align-items: center;

    }
    .log {
      @media (min-width: 768px) {
        color: $primary-color;
        margin-right: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
      }
      &:hover {
        color: $secondary-color;
      }
    }
    .switch-btn {
      display: none;
      @media (min-width: 768px) {
        display: block;
      }
    }
    .favs {
      width: 8rem;
      a {
        text-decoration: none;
        color: $primary-color;
      }
      &-link {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    
    .fav {
      @media (min-width: 768px) {
        color: $primary-color;
        margin: 0 0.5rem;
        font-weight: 700;
        font-size: 2.4rem;
        cursor: pointer;
      }
      &:hover {
        color: $secondary-color;
      }
    }
}

/*------- Responsive Nav*/
.log-collapsed {
  display: block;
  color: $white;
  font-weight: 700;
  margin: 1rem;
  padding: 0.5rem;
  text-transform: uppercase;
  cursor: pointer;
  width: auto;
  &:hover {
    color: $secondary-color;
  }
}
.switch-btn-collapsed {
  margin: 1rem;
  .switch--checked {
    border: 1px solid $white;
  }
}
header {
  position: relative;
}
.nav-container-toggler {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0;
  margin: 0;
  @media (min-width: 768px) {
    display: none;
  }
  .nav-toggler {
    padding: 1rem;
    cursor: pointer;
    .toggler {
      color: $primary-color;
      font-size: 3rem;
    }
    @media (min-width: 768px) {
      display: none;
    }
  }
  .nav-links {
    position: absolute;
    top: 5rem;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;
    width: 100%;
    background-color: $primary-color;
    .nav-link {
      color: $white;
      font-weight: 700;
      text-transform: uppercase;
      width: auto;
      display: block;
      &:hover {
        background-color: $secondary-color;
      }
    }
  }
}
.display-none {
  display: none;
}
.line {
  width: 100%;
  height: 0.5px;
  border: 0.5px solid $white;
}
