//--------------------Variables
$primary-color: #eb2f96;
$secondary-color: rgb(31, 30, 30);
$grey: #424242;
$white: #fff;

//-------------------Globales
*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  min-height: 100vh;
}

.min-height {
  min-height: 100vh;
}

.container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-size: 3rem;
}

.cardContainer {
  max-width: 900px;
  width: 95%;
  margin: 2rem auto;
  padding: 3rem 1rem;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.164);
  &--item {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      min-width: 25rem;
      width: 70%;
      margin: 1rem auto;
      @media (min-width:768px) {
          flex-direction: row;
      }
  }
}

// ----Ant Design
//Cards
.ant-card {
  margin: 1rem;
}

.ant-row {
  justify-content: center;
}

.ant-card-body {
  text-align: center;
}

.ant-card-meta-title {
  font-size: 1.7rem;
  font-weight: 700;
}

.magenta-6:hover {
  background-color: $secondary-color;
}
//Form
.dark-ant-form-item-label > label {
    color: $white;
}

//Spinner
.spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  span > i {
    background-color: $primary-color;
  }
}

//Botones
.button {
    margin: 2rem auto;
    display: block;
    background-color: $primary-color;
    border: none;
    width: 20rem;
    &--secondary {
        background-color: $white;
        border: 1px solid $primary-color;
        color: $primary-color;
        font-weight: 700;
        @media (min-width: 768px) {
            margin-left: 1rem;
        
        }
        &:hover {
        background-color: $secondary-color;
        color: $white;
        border: none;
        }
    }
    &:hover {
        background-color: $secondary-color;
        color: $white;
    }
    &:focus {
      background: $primary-color;
      border-color: inherit;
    }
    @media (max-width: 480px) {
        
    }
}
.card-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: 768px) {
        flex-direction: row;
    }
}

//-------------------Componentes
@import "./components/Layout/layout";
@import "./components/NavBar/navBar";
@import "./components/Switch/switch";
@import "./components/ItemList/item";
@import "./components/ItemDetail/itemDetail";
@import "./components/Cart/cart";
@import "./components/Checkout/checkout";
@import "./components/Login//login";
@import "./components/Footer/footer";
@import "./components/Error/error";

//Icono favoritos
.favorite-icon {
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  &:hover {
    fill: $primary-color;
  }
}

//---------------Dark Mode
.dark {
    &-text {
        color: $white;
    }
    &-hover {
        &:hover {
            color: $white !important;
        }
    }
    &-link {
        border: 1px solid $white;
        color: $white;
        &:hover {
            background-color: $primary-color;
            color: $white;
        }
        .active {
            color: $white;
        }
    }
    &-body {
        background-color: $secondary-color;
        color: $white;
    }
    &-button {
        &:hover {
            background-color: $white;
            color: $secondary-color;
        }
        &--secondary {
            background-color: $secondary-color;
            border: 1px solid $white;
            color: $white;
            &:hover {
                background-color: $white;
                color: $secondary-color;
                border: transparent;
            }
        }
    }
    &-cardContainer {
        background-color: $grey;
    }
    &-tbody {
        &>tr:nth-child(even) {
            background-color: #555454 !important;
        }
    }
    &-register {
        & label {
            color: $white !important;
        }
    }
}
