:root {
  --primary-color: #eb2f96;
  --primary-hover-color: #9e1068;
}
*, *::after, *::before {
  box-sizing: inherit;
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

.container {
  width: 1000px;
  max-width: 95%;
  margin: 0 auto;
}